.search-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .search-bar-wrapper{
        background-color: #1F1F22;
    
        max-width: 20rem;
        width: 70%;
        height: 1.5rem;
        border-radius: 12px;
        padding: 1rem;
        margin: 1rem;
    
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border: 1px rgba(235, 235, 255, 0.05);
    
        overflow: hidden;
        
    
        display: inline-flex;
        align-items: center;
        gap: 0.5rem; 

        .search-bar-icon{
            width: 0.75rem;
            height: 0.75rem;
        }

        .search-bar-icon > img{
            width: 100%;
            height: 100%;
            vertical-align: top !important;
        }

        .search-bar-input{
            /* Resetting default styles */
            border: none;
            outline: none;
            background: transparent;
            
            color: #FCFCFC;
            font-size: 0.75rem;
            line-height: 20px;
            word-wrap: break-word
        }
    }
}
@media (max-width: 768px) {
    .search-bar-wrapper{
        height: 3rem;
        width: 100%
    }
}