.search_card,
.search_card-info-container {
    width: 100%;
    color: #B3B3B3;
    display: flex;
    align-items: center; 
    padding: 3px 0px;
}

.search_card-image-container {
  width: 50px;
  height: 50px;
}

.search_card-image-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover; /* Crop the image while maintaining its aspect ratio */
}
.search_card-info-container {
  display: flex;
  width: 200px;
  flex-grow: 1; 
  justify-content: space-between; 
  align-items: center; 

  margin-left: 5px;
}
  
.search_card-title-container {
  display: flex;
  width: 200px;
  flex-direction: column;
  align-items: flex-start;
}

.search_card-song-title {
  color: white;
}

.search_card-artist-name {
  color: #777; 
}

.search_card-full-title{
  width: 200px;
  text-align: start;
}

.search_card-release-date{
  width: 200px;
}

@media (max-width: 768px) {
  .search_card-full-title{
      display: none
  }
  
  .search_card-info-container,
  .search_card-title-container{
      width: 300px;
  }
}