* {
    margin: 0;
    padding: 0;
}

p{
    margin: 0 !important;
}

body{
    background-color: black !important;
}

.hinter-message{
    color: white;
}

@media (max-width: 768px) {
    html{
        font-size: 14px;
    }
}


  